$white: #FFFFFF;
$gray-lightest:#F8FAFC;
$gray-lighter:#F1F5F8;
$gray-light:#DAE1E7;
$gray:#B8C2CC;
$gray-dark:#8795A1;
$gray-darke:#606F7B;
$gray-darkest:#3D4852;
$black:#22292F;
$red-lightest:#FCEBEA;
$red-lighter:#F9ACAA;
$red-light:#EF5753;
$red:#E3342F;
$red-dark:#CC1F1A;
$red-darker:#621B18;
$red-darkest:#3B0D0C;
$orange-lightest:#FFF5EB;
$orange-lighter:#FCD9B6;
$orange-light:#FAAD63;
$orange:#F6993F;
$orange-dark:#DE751F;
$orange-darker:#613B1F;
$orange-darkest:#462A16;
$yellow-lightest:#FCFBEB;
$yellow-lighter:#FFF9C2;
$yellow-light:#FFF382;
$yellow:#FFED4A;
$yellow-dark:#F2D024;
$yellow-darker:#684F1D;
$yellow-darkest:#453411;
$green-lightest:#E3FCEC;
$green-lighter:#A2F5BF;
$green-light:#51D88A;
$green:#38C172;
$green-dark:#1F9D55;
$green-darker:#1A4731;
$green-darkest:#0F2F21;
$teal-lightest:#E8FFFE;
$teal-lighter:#A0F0ED;
$teal-light:#64D5CA;
$teal:#4DC0B5;
$teal-dark:#38A89D;
$teal-darker:#20504F;
$teal-darkest:#0D3331;
$blue-lightest:#EFF8FF;
$blue-lighter:#BCDEFA;
$blue-light:#6CB2EB;
$blue:#3490DC;
$blue-dark:#2779BD;
$blue-darker:#1C3D5A;
$blue-darkest:#12283A;

$primary: $orange;
$primary-dark: $orange-dark;
$primary-light: $orange-light;
